*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
    /* font-family: 'Raleway', sans-serif; */


}
*::selection{
    background-color:#fe435c93;
    color: #fff;
}
body{
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #fff;
    color: #131a2f;
}
a{
    text-decoration: none;
}
.dot-ul-remove{
    list-style-type: none;
}
.inline{
    display: inline-block;
}
.flex{
    display: flex;
}
.header{
    position:fixed;
    top: 40px;
    min-width: 80%;
    height: 122px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #131a2f;
    color: #fff;;
    transition: all 0.5s ease-in-out; 

    z-index: 9999;
}
.header.scrolled{
    top:14px;
    height:100px;
    transition: all 0.5s ease-in-out; 
}
.header .nav_logo{
    position: absolute;
    top: 15px;
    left: 40px;

}
.header .logo_name{
    text-transform: uppercase;
    font-size: 24px;
    font-weight:500;
    line-height: 0.75;
}
.header .logo_text{
    text-transform: uppercase;
    font-size: 10px;
    color: #929292;
    letter-spacing:0.13rem;
}
.header .logo_name_container{
    position: relative;
    top: -8px;
    padding-left: 32px;
    height: 100%;
}
#nav--contact__btn{
    color: #fe435b;
    border-bottom: #fe435b 4px solid;
}
#nav--contact__btn:hover{
    color: #eb344a;
}

.nav_container ul{
    position: absolute;
    top:50px;
    right:122px;
    transition: all 0.5s ease-in-out; 
    
}
.nav_container ul li{
    display: inline-block;
    
}
.nav_container ul li a{
    padding: 50px 20px;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    transition: all 0.5s ease-in-out; 

    
}
.header.scrolled .nav_container ul{
    /* padding: 30px 12px; */
    top:40px;
    transition: all 0.5s ease-in-out; 

}
.header.scrolled .nav_container a {
    padding: 36px 20px;
    transition: all 0.5s ease-in-out; 

}
.nav_container ul li a:hover{
    color: #eb344a;
    font-weight: 100;
    transition: all 0.3s ease;
}

.nav_container .search{
    position: absolute;
    right:0;
    font-size: 30px;
    padding: 43px;
    background-color: #fe435b;
    cursor: pointer;
    transition: all 0.5s ease-in-out; 

}
.header.scrolled .nav_container .search{
    padding: 32px 43px;
    transition: all 0.5s ease-in-out; 

}
.nav_container .search:hover{
    background-color: #eb344a;
    transition: all 0.3s ease
}
/* Phần slider */

.Contact_background img{
    position: relative;
    width: 100%;
    height:80vh;
    object-fit: cover;
    z-index: -1000;
}
.slider{
    position: absolute;
    width:100%;
    background: url('/baocao/img/siler_img_heading.jpg') top center / cover no-repeat ;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 9990;
    transform: translate3d(0,0,0);
    height:601px;  
    
}


.slider .slider_container {
    height: 600px;
    margin-left: 10%;
    margin-right: 10%;
}

.slider .slider_container .text_content {
    position: absolute;
    color: #fff;
    top: 46%;
    width: 100%;
    text-align: left;
    letter-spacing: 4px;
    object-fit: cover;
    font-style: italic;
    opacity: 0.7;
}

.slider .slider_container .text_heading {
    font-weight: normal;
    font-size: 48px;
}

.slider .slider_container .text_description {
    font-weight: 200;
    font-size: 18px;
    margin-top: 5px;
    list-style-type: none;
}

.slider .slider_container .text_description li {
    display: inline-block;
}

.slider .slider_container .text_description li a{
    color: #fff;
}

.slider .slider_container .text_description .text_home:hover a {
    color:#eb344a;
}
.find {
    position: relative;
    width: calc(100% - 124px);
    height: 298px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -148px;
    padding-top: 63px;
    padding-bottom: 70px;
    z-index: 10;
    background: transparent;
    
}

.find_background_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://preview.colorlib.com/theme/destino/images/xfind.jpg.pagespeed.ic.THd5hDmjZX.webp');
}

.prlx_parent {
    overflow: hidden;
}

.find_background_content {
    transform: translate(0%, -20.2562%) translate3d(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.find .find_container {
    position: relative;
    width: 100%;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* .find_row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} */

.find .find_container .col_12 {
    position: absolute;
    width: 100%;
    color: #fff;
    flex: 0 0 100%;
    max-width: 100%;
}

.find .find_container .col_12 .text_heading{ 
    font-size: 30px;
    text-align: center;
    font-weight: 200;
    letter-spacing: 3px; 
}

.find .find_container .col_123 {
    position: absolute;
    width: 100%;
    color: #fff;
    flex: 0 0 100%;
    padding: 33px;
    left: 0; 
} 

.find .find_container .col_123 .find_form_container {
    margin-top: 36px;
    float: left;
    width: 100%;
}



.find .find_item {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}

.find_item:first-child {
    width: 31.413%;
}

.find_item:nth-child(2) {
    width: 31.413%;
}

.find_item:nth-child(3) {
    width: 10.122%;
}

.find_item:nth-child(4) {
    width: 10.122%;
}

.find .find_input {
    margin-top: 8px;
    padding:17px 20px;
    width: 100%;
    border: solid 2px rgba(255,255,255,.5);
    background: transparent;
    font-style: italic;
    font-size: 14px;
    color:#fff;
}

.find .find_input:hover {
    border: solid 2px rgba(254,67,91,.5)
}

.find .dropdown_item_select {
    background-position: center right;
    background-repeat: no-repeat;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    color: #939393
}


.find .find_tet {
    display: inline-block;
    width: 14.048%;
    height: 52px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    line-height: 52px;
    padding-left: 46px;
    padding-right: 46px;
    background: #fe435b
}


.find .find_tet:hover {
    opacity: 0.8;
}
/* .contact__content {

} */

.Contact__content .title{
    margin-top: 30px;
    margin-left: 10%;
    font-family: 'Raleway', sans-serif;
}
.Contact__content .title h1{
    font-weight:bold;
    font-size:40px;
}
.Contact__content .title p{
    font-size: 24px
}
.contact__layout{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height:80vh;
}
.contact__layout .address{
    width: 35%;
    flex-direction: column;
    /* text-align: bottom; */
}
.contact__layout .address__text{
    margin-top: 60px;
    font-weight: bold;
    line-height: 20px;
}
.contact__layout .social{
    position: relative;
    margin-top: 20px;
    font-size: 28px;
}
.contact__layout .social ul {
    width:50%;
    justify-content: space-between;
}
.contact__layout .social ul i{
    color: #7d8293;

}
.contact__layout .social ul i:hover{
    color: #eb344a;
    transition: all 0.3s ease;
}
.gray_text-color{
    font-size: 15px;
    color: #7d8293;
    line-height: 30px;
    
}
.contact__layout .contact__inputer{
    width: 55%;
}

.contact__layout .contact__inputer input{
    height: 60px;
    width: 100%;
    padding-left: 12px;
    border: solid 2px #dbdbdb;
    margin: 4px 0;
    outline: none;
}
input#message{
    
    height: 220px;
}
.contact__layout .send__btn a{
    position:absolute;
    right:3.5%;
    background-color: #fe435b;
    padding:12px 40px;
    font-size:24px;
    color: #fff;
    transition: all 0.3s ease;
}
.contact__layout .send__btn a:hover{
    background-color: #eb344a;
    transition: all 0.3s ease;
}
.newsletter {
    position: relative;
    width: 100%;
    height: 374px;
    padding-top: 108px;
    padding-bottom: 113px;
}

.newsletter-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-image: url('https://preview.colorlib.com/theme/destino/images/xnewsletter.jpg.pagespeed.ic.X2-TPwZCdW.webp')
}

.newsletter-container {
    position: relative;
    margin: 0 170px;
    padding: 0 15px;
}

.newsletter-content {      
    color: #fff;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items: center;
    justify-content: center;
}

.newsletter-title {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
}

.newsletter-form-container {
    margin-top: 60px;
    margin-left: 200px;
    margin-right: 200px;
}


.newsletter-import {
    display: flex !important;
    flex-direction: row !important;
    align-content: center !important;
    justify-content: space-between!important;
}

#newsletter-input {
    width: calc(100% - 180px);
    height: 56px;
    border: solid 2px rgba(255,255,255,.5);
    outline: none;
    background: transparent;
    padding-left: 31px;
    color: #fff;
    font-size: 16px;

}

.newsletter-button {
    width: 161px;
    height: 56px;
    vertical-align: top;
    cursor: pointer;
    border: none;
    outline: none;
    background: #fe364a;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.newsletter .newsletter-import button:hover {
    opacity: 0.8;
}






/* phần cuối */
.footer{

    position: relative;
    background-color: #080d1d;
    width: 100%;
    height: 60vh;
    color: #fff;
}
.footer_container{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.footer .footer_container .footer_information{
    height: 80%;
    width: 25%;
    /* border: solid 2px rgba(255,255,255,.5); */
}
.footer .footer_container .footer_information .team_information p{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-style: italic;
}
.footer .footer_container .footer_information ul{
    display: flex;
    list-style-type: none;
    justify-content:space-evenly;
    margin-top: 30px;
}
.footer .footer_container .footer_information ul li a:hover i{
    color: #eb344a;
    transition: all 0.5s ease;
}
.footer .footer_container .footer_information ul li a i{
    font-size: 32px;
    color: #fff;
}
/* .footer .logo_name_container .logo_name{
    text-transform: uppercase;
    
} */
.footer .footer_container .footer_information .copyright{
    position: absolute;
    bottom: 10px;
}
.footer .footer_container .footer_information .copyright p{
    font-size: 12px;
    font-style: oblique;
    font-weight: 100;
}
.footer .footer_container .footer_news{
    height: 80%;
    margin-left: 20px;

    width: 25%;
    /* border: solid 2px rgba(255,255,255,.5); */
}
.footer .footer_container .footer_news img{
    height:78px;
    width: 78px;
}
.footer .footer_container .footer_news .news_title{
    font-family: 'Raleway', sans-serif;
}
.footer .footer_container .footer_news .news_items_container{
    position: relative;
    bottom: -30px;
    display: flex;
    flex-direction:column;
}
.footer .footer_container .footer_news .News_items{
    display: flex;
    flex-direction:row;
    margin-top: 16px;
}
.footer .footer_container .footer_news .new_items_text{
    font-family: 'Raleway', sans-serif;
    margin-left: 20px;
}
.footer_news .new_items_text h3{
    letter-spacing: 2px;
}
.footer_news .new_items_text h4{
    color: #fe435b;
    margin: 8px;
}
.footer .footer_container .footer_tag{
    position: relative;
    top: -74px;
    /* align-items: flex-start;
    height: 80%; */
    width: 25%;
    /* border: solid 2px rgba(255,255,255,.5); */
    margin-left: 20px;
    
}
.footer .footer_container .footer_tag .tag_container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
    
}
.footer .footer_container .footer_tag h1{
    font-family: 'Raleway', sans-serif;
    
}
.footer .footer_container .footer_tag a{
    color: #fff;
    height:40px;
    background-color:#fe435b;
    padding: 10px 24px;
    margin: 2px;
    
}
.footer .footer_container .footer_tag a:hover{
    background-color: #eb344a;
    transition: all 0.3s ease;
}
.footer .footer_container .footer_tag h1{
    margin: 20px 40px 40px 40px;
    
}