*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: none;

}
*::selection{
    background-color:#fe435c93;
    color: #fff;
}
body{
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #fff;
    color: #131a2f;
}
a{
    text-decoration: none;
}
.header{
    position:fixed;
    top: 40px;
    min-width: 80%;
    height: 122px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #131a2f;
    color: #fff;;
    transition: all 0.5s ease-in-out; 

    z-index: 9999;
}
.header.scrolled{
    top:14px;
    height:100px;
    transition: all 0.5s ease-in-out; 
}
.header .nav_logo{
    position: absolute;
    top: 15px;
    left: 40px;

}
.header .logo_name{
    text-transform: uppercase;
    font-size: 24px;
    font-weight:500;
    line-height: 0.75;
}
.header .logo_text{
    text-transform: uppercase;
    font-size: 10px;
    color: #929292;
    letter-spacing:0.13rem;
}
.header .logo_name_container{
    position: relative;
    top: -8px;
    padding-left: 32px;
    height: 100%;
}
#nav--home__btn{
    color: #fe435b;
    border-bottom: #fe435b 4px solid;
}
#nav--home__btn:hover{
    color: #eb344a;
}

.nav_container ul{
    position: absolute;
    top:50px;
    right:122px;
    transition: all 0.5s ease-in-out; 
    
}
.nav_container ul li{
    display: inline-block;
    
}
.nav_container ul li a{
    padding: 50px 20px;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    transition: all 0.5s ease-in-out; 

    
}
.header.scrolled .nav_container ul{
    /* padding: 30px 12px; */
    top:40px;
    transition: all 0.5s ease-in-out; 

}
.header.scrolled .nav_container a {
    padding: 36px 20px;
    transition: all 0.5s ease-in-out; 

}
.nav_container ul li a:hover{
    color: #eb344a;
    font-weight: 100;
    transition: all 0.3s ease;
}

.nav_container .search{
    position: absolute;
    right:0;
    font-size: 30px;
    padding: 43px;
    background-color: #fe435b;
    cursor: pointer;
    transition: all 0.5s ease-in-out; 

}
.header.scrolled .nav_container .search{
    padding: 32px 43px;
    transition: all 0.5s ease-in-out; 

}
.nav_container .search:hover{
    background-color: #eb344a;
    transition: all 0.3s ease;
}
.home_background img{
    position: relative;
    width: 100%;
    height:100vh;
    z-index: -1000;
}
.find{
    position: relative;
    
}
.find_background img{
    position: relative;
    top: -4px;
    height: 260px;
    width: 100%;
    z-index:-9999;
    object-fit: cover;
    object-position: top;
}
.find_content{
    position: relative;
    top: -120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.find_content .find_item{
    margin: 0 10px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    line-height:3;
}
.find_content .find_item input{
    height: 50px;
    width: 300px;
    border: solid 2px rgba(255,255,255,.5);
    background-color: rgba(255,255,255,0);
    outline: none;
    color: #fff;
}
.find_item:hover input{
    border: solid 2px #eb344a;
    transition: all 0.5s ease-in-out;

}
::placeholder{
    color: #fff;
    font-family: 'Raleway', sans-serif;

}
.find_content .find_item select{
    color: rgb(63, 63, 63);

    height: 50px;
    outline: none;
    background-color: rgba(255,255,255,0);
    border: solid 2px rgba(255,255,255,.5);
    color: #fff;
}
.find_item:hover select{
    border: solid 2px #eb344a;
    transition: all 0.5s ease-in-out;
}
.find_content .find_item select option{
    color: #000;
    opacity: 0.7;
}
.find_content .find_item .price{
    width: 115px;
}
.find_content .find_item #Categories{
    width: 300px
}
.find .find_title{
    position: absolute;
    top: 40px;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height:1.1;
    color: #fff;
    margin-left: 30%;
    margin-right: auto;
}
.find #find_btn{
    position: relative;
    top:35px;
    background-color:#fe435b;
    width: 161px;
    height: 50px;
}
.find #find_btn:hover{
    background-color:#eb344a;
    transition: all 0.3s ease;
}
.find #find_btn h3{
    position: relative;
    left: 40%;
}
.top{
    width: 100%;
    height: 85vh;


}
.top h1{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    text-align: center;
    letter-spacing:3px;
}
.top h3{
    font-family: 'Raleway', sans-serif;
    line-height: 50px;
    /* font-size: 40px; */
    text-align: center;
    letter-spacing:3px;
}
.top .top_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.top .top_container img{
    height:360px;
    width:260px;
    object-fit: cover;
    margin-top: 10px;
}
.top .top_container .top_items{
    cursor: pointer;
    position: relative;
    top: 50px;
    margin: 0 20px;
}
.top .top_container .top_items h4{
    position: absolute;
    bottom: 20px;
    left:10px;
    color: #fff;
    /* font-family: 'Raleway', sans-serif; */
    
    font-size: 16px;
    font-weight: 7000;
    letter-spacing: 1px;
}
.top .top_container .top_price{
    position: relative;
    top: 310px;
    font-family: 'Raleway', sans-serif;

}

.sale_offers_container{
    position: relative;
    height:90vh;
}
.sale_offers_container .offers_background img{
    position: relative;
    height: 90vh;
    width: 100%;
    z-index: -9999;
}
.sale_items_container{
    position: relative;
    top: -550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sale_offers_container .sale_offers_items{
    /* position: absolute; */
    /* top:0; */
    margin:0 30px;
    height:510px;
    width:494px;
    background-color: #fe435cbb;
    
}
.sale_offers_container .sale_offers_items .name{
    position: relative;
    top: 40px;
    left:60px;
    font-size: 20px;
    color: #fff;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
}
.sale_offers_container .sale_offers_items .sale_off{
    position: relative;
    top: 30px;
    left: 80px;
    font-size: 150px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
.sale_offers_container .sale_offers_items .sale_title{
    position: relative;
    top:30px;
    left: 20%;
    font-size: 40px;
    color: #fff;
    font-family: 'Raleway', sans-serif;

}
.sale_offers_container .sale_offers_items .sale_text{
    position: relative;
    top: 50px;
    width:340px;
    left: 60px;
}
.sale_offers_container .sale_offers_items .sale_text h5{
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    line-height: 26px;
    letter-spacing: 1px;
    /* line-break: 26px; */
}
.sale_offers_container .sale_offers_items .offer_btn{
    position: relative;
    top: 100px;
    left:12em;
    padding:20px 40px;
    color: #fff;
    background-color: #131a2f;
}
.sale_offers_container .logo_offer{
    position: absolute;
    top: 50px;
    left: 150px;
    
}
.sale_offers_container .logo_offer img{
    /* height: 100px;
    width: 100%; */
}
.video{
    position: relative;
    height: 80vh;
}
.play_btn{
    position: relative;
    top:-600px;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    /* z-index: 100; */
}
.video .video_background img{
    position: relative;
    object-fit: cover;
    
    height: 100%;
    width: 100%;
    z-index: -9999;
}
.play_btn_circle{
    cursor: pointer;
    display: flex;
    height:100px;
    width:100px;
    justify-content: center;
    align-items: center;
    /* background-color: #fe435b; */
    border: solid 3px rgba(255, 255, 255, 0.5);
    z-index: 1000;
    border-radius: 50%;
    
}
.play_btn_triangle{
    width: 0;
    height: 0;
    /* border:1px solid #000; */
    border-style: solid;
    border-width: 15px 0 15px 30px;
    border-color: transparent transparent transparent #ffffff52;
}
.video .video_background{
    width: 100%;
    height: 100%;
}
.video .video_content{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 999;
    
}
.video .video_content.active{
    position: absolute;
    top: 0;

    opacity: 1;
    z-index: 999;
}
.video .video_content video{
    width: 100%;
    height: 100%;
}
.popular{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 100%;
}
.popular .popular_container{
    position: relative;
    height:90%;
    width: 80%;

}
.popular .text{
    margin-top: 60px;
}
.popular .text h2{
    text-align: center;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: 'Raleway', sans-serif;
}
.popular .text h4{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size:16px;
    line-height:30px;
    letter-spacing:3px
}
.popular_content{
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center
}   
.popular_content .popular_items{
    display: flex;
    margin-top: 10px;
}
.popular_content a img{
    width: 262px;
    height: 198px;
    object-fit: cover;
}
.popular_content a .text_items{
    position: relative;
    top: -50px;
    left: 40px;
    color: #fff;
    letter-spacing:1px;
    font-family: 'Raleway', sans-serif;
    line-height:20px;
}
/* .slider{
    position: relative;
    height: 100vh;
    width: 100%;
}
.slide_container{
    height: 100%;
    width: 100%;
}
.slide_text{
    line-height:40px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-top: 28px; */
    /* letter-spacing: 4px; */
/* } */
/* .slide_text h1{
    font-size: 36px;
    letter-spacing: 4px;
}
.slide_text h4{
    text-transform: uppercase;
    letter-spacing: 2px;
}
.slide_img{
    display: flex;
}
.slide_img .slide_items{
    margin:0 n 10px;
} */
.slide_img img{
    height: 644px;
    width:376px;
    object-fit: cover;
}

.subscribe{
    width: 100%;
    height: 40vh;
}
.subscribe_container{
    position: relative;
    height: 100%;
    
}
.subscribe .sub_background{
    width: 100%;
    position: relative;
    height: 100%;
}
.subscribe .sub_background img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: bottom;
}
.sub_text{
    position: relative;
    top: -250px;
    font-size: 20px;
    letter-spacing: 4px;
    color: #fff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Montserrat',sans-serif; */
    font-weight: 100;


}
.sub_input_container{
    position: absolute;
    top: 10px;
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 30px;
    align-items: center;
    justify-content:center
}
.subscribe_container .input{
    /* position: absolute;
    bottom:150px;
    left:100px; */
    padding-left: 20px;
    border: 1px solid #fff;
    /* border-radius: 4px; */
}
.subscribe_container .input input{
    box-sizing: border-box;
    /* font-size:28px; */
    width: 764px;
    height:54px;
    background-color: transparent;
    color: #fff;
    /* border: 0px solid rgba(255,255,255,0); */
    outline: none
}
.subscribe_container .sub_input_container .sub_btn{
    margin-left: 20px;
    /* margin-top: 20px */
}
.subscribe_container .sub_input_container a{
    padding: 20px 50px;
    
    background-color:#fe435b;
    color: #fff;
}
.footer{

    position: relative;
    background-color: #080d1d;
    width: 100%;
    height: 60vh;
    color: #fff;
}
.footer_container{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.footer .footer_container .footer_information{
    height: 80%;
    width: 25%;
    border: solid 2px rgba(255,255,255,.5);
}
.footer .footer_container .footer_news{
    height: 80%;
    margin-left: 20px;

    width: 25%;
    /* border: solid 2px rgba(255,255,255,.5); */
}
.footer .footer_container .footer_news img{
    height:78px;
    width: 78px;
}
.footer .footer_container .footer_news .news_title{
    font-family: 'Raleway', sans-serif;
}
.footer .footer_container .footer_news .news_items_container{
    position: relative;
    bottom: -30px;
    display: flex;
    flex-direction:column;
}
.footer .footer_container .footer_news .News_items{
    display: flex;
    flex-direction:row;
    margin-top: 16px;
}
.footer .footer_container .footer_news .new_items_text{
    font-family: 'Raleway', sans-serif;
    margin-left: 20px;
}
.footer_news .new_items_text h3{
    letter-spacing: 2px;
}
.footer_news .new_items_text h4{
    color: #fe435b;
    margin: 8px;
}
.footer .footer_container .footer_tag{
    position: relative;
    top: -74px;
    /* align-items: flex-start;
    height: 80%; */
    width: 25%;
    /* border: solid 2px rgba(255,255,255,.5); */
    margin-left: 20px;
    
}
.footer .footer_container .footer_tag .tag_container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
    
}
.footer .footer_container .footer_tag h1{
    font-family: 'Raleway', sans-serif;
    
}
.footer .footer_container .footer_tag a{
    color: #fff;
    height:40px;
    background-color:#fe435b;
    padding: 10px 24px;
    margin: 2px;
    
}
.footer .footer_container .footer_tag a:hover{
    background-color: #eb344a;
    transition: all 0.3s ease;
}
.footer .footer_container .footer_tag h1{
    margin: 20px 40px 40px 40px;
    
}
